/* (A) WRAPPER */
body {
    font-family: arial, sans-serif;
    display: flex;
    margin: 0 auto;
  }
  #main-menu { width: 70%; }
  #poscart { width: 30%; }
  
  /* header */
  #header{
    margin: 20px 0px 20px 30px;
    display: flex;
  }
    /* home logo */
    #header img{
      height: 50px;
      width: 50px;
    }
    /* back to home */
    #header div{
      text-align: end;
      display: flex;
    }
    #header strong{
      color: #3d6091;
      font-size: 30px;
      margin-left: 20px;
      align-self: center;
    }
  /* (B) PRODUCTS LIST */
  #poslist {
    display: grid;
    background-color: rgb(247, 245, 245);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .pwrap {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    border-style: double;
    box-shadow: 0px 0px 5px 0px rgb(180, 180, 180);
  }
  .pimg { width: 150px; height: 150px;}
  .pname { font-weight: 700; }
  .pprice { color: #639aff; }
  
  /* (C) CART */
  #poscart {
    padding: 10px;
    background: #fff;
    box-shadow: -5px 0px 3px 0px rgb(196, 196, 196);
  }
  .citem > * { box-sizing: border-box; }
  .citem, .cname { width: 100%; }
  .citem { padding: 10px; }
  .cname{ display: block; }
  .cdel { width: 25%; }
  .cqty { width: 75%; }
  #ctotal { font-weight: 700; padding: 10px; }
  .cdel, .cqty, #cempty, #ccheckout { padding: 10px; }
  .cdel, #cempty, #ccheckout {
    background: #9a2121;
    border: 1px solid #9a2121;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }
  #cempty, #ccheckout { margin: 5px; }
  
  /* (D) RECEIPT */
  #posreceipt { display: none; }
  