* {
	margin: 0;
	padding: 0;
	line-height: auto;
}

ul,
ol {
	list-style: none;
}

a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0;
}

button:focus {
	outline: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li {
	margin-top: 0;
	margin-bottom: 0;
	line-height: auto;
}

img {
	vertical-align: middle;
}

body {
	overflow-x: hidden;
	background-color: #181717;
}

/*End of Common CSS*/



/*banner css start*/
.banner {
	background-image: url(../images/burger.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 515px;
	position: relative;
}

.banner:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5)
}

.banner_text {
	text-align: center;
	padding-top: 200px;
}

.banner_text h3 {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 47px;
	margin-bottom: 10px;
}

.banner_text p {
	font-family: 'Lobster Two', cursive;
	font-size: 16px;
	font-weight: 400;
	color: white;
}

.banner_text p span {
	color: #FF5722;
}

/*banner css end*/


/*reservation css start*/
.reservation {
	padding-top: 80px;
	padding-bottom: 100px;
	position: relative;
}
.reservation .bg_img{
	position: absolute;
	top: 60px;
	right: -70px;
	transform: rotate(-80deg);
}

.reservation_heading {
	margin-bottom: 60px;
}

.reservation .reservation_heading h3 {
	font-family: 'Great Vibes', cursive;
	font-size: 25px;
	font-weight: 500;
	color: #f7f7f7;
}

.reservation .reservation_heading span {
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	font-weight: 600;
	color: #FF5722;
}

.reservation_image {
	position: relative;
	overflow: hidden;
}

.reservation_image:before {
	content: "";
	position: absolute;
	top: -50px;
	left: 0;
	height: 200%;
	width: 0px;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 99;
	transition: all .5s linear;
	transform: rotate(-20deg);
}

.reservation_image:hover::before {
	width: 100px;
	top: 0;
	transform: translateX(1800%);
}

.reservation_image img {
	transition: all .5s linear;
}

.reservation_image:hover img {
	transform: scale(1.1);
}

.reservation_form {
	padding-left: 40px;
	padding-right: 100px;
	padding-top: 40px;
}

.reservation_form h3 {
	font-family: 'Lobster Two', cursive;
	font-size: 28px;
	color: #e7e7e7;
	margin-bottom: 30px;
}

.reservation_form form input {
	width: 100%;
	background: transparent;
	border-style: none;
	border-radius: 10px;
	border-bottom: 1px solid #FF5722;
	padding: 10px 20px;
	margin-bottom: 20px;
	color: #949494;
	font-family: 'Lobster Two', cursive;
	font-size: 18px;
}

.reservation_form form select {
	width: 100%;
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: transparent;
	border-style: none;
    border-radius: 10px;
	border-bottom: 1px solid #FF5722;
	padding: 10px 20px;
	margin-bottom: 20px;
	color: #949494;
	font-family: 'Lobster Two', cursive;
	font-size: 17px;
}
.reservation_form form button{
	padding: 5px 20px;
	background: #ed6d44;
	border-style: none;
	font-family: 'Lobster Two', cursive;
	letter-spacing: 1px;
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 30px;
}


/*Menu Fixed CSS Start*/
.fixedmenu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(45, 47, 49, 0.8);
	padding: 0px 0px;
	transition: all .3s linear;
	z-index: 9999;
}

/*Menu Fixed CSS End*/



